@charset "utf-8";

$text-color: #333;
$link-color: #00acdf;

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

html {
  font-size: 14px;
  font-family: Arial, Roboto, "Droid Sans", "游ゴシック", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

a {
  text-decoration: none;

  &:link,
  &:visited {
    color: $link-color;
  }

  &:hover,
  &:active {
    color: $link-color;
    text-decoration: underline;
  }
}

