@charset "utf-8";
@import "base";

body {
  width: 320px;
  height: 64px;
  border: 1px solid lightgray;
  padding: 16px;

  h1 {
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
  }
  h2 {
    font-weight: normal;
    font-size: .9rem;
    margin: 0;
    padding: 0;
  }
  
  .title-block {
    height: 32px;
    line-height: 32px;
  }
  .cite-block {
    margin-top: 12px;
    height: 18px;
    line-height: 18px;
    padding-left: 24px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.github {
  .cite-block {
    background-image: image-url("external_service/github.png");
  }
}
