@charset "utf-8";
@import "base";

body {
  width: 320px;
  height: 96px;
  padding: 16px;
  box-sizing: border-box;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}

.title-block {
  display: inline-block;
  vertical-align: top;
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
  height: 24px;
  line-height: 24px;
  margin-bottom: 12px;
  color: $text-color;

  &:link,
  &:visited {
    color: $text-color;
  }
}

.cite-block {
  font-weight: normal;
  font-size: .8rem;
  margin: 0;
  padding: 0;
  height: 16px;
  line-height: 16px;

  .cite-image,
  .cite-link {
    display: inline-block;
    vertical-align: middle;
  }

  &:link,
  &:visited {
    color: lighten($text-color, 50%);
  }

  img {
    height: 16px;
    margin-right: 4px;
  }
}

