@charset "utf-8";
@import "base";

body {
  width: 320px;
  height: 96px;
  padding: 16px;
  box-sizing: border-box;
}

h1 {
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
  height: 32px;
  line-height: 32px;
}

h2 {
  font-weight: normal;
  font-size: .9rem;
  margin: 0;
  padding: 0;
  margin-top: 12px;
  height: 18px;
  line-height: 18px;
  padding-left: 24px;
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}

a {
  &:link,
  &:visited {
    color: $text-color;
  }
}

.github {
  .cite-block {
    background-image: image-url("external_service/github.png");
  }
}
