<ul class='service-icons'>
  <li class='service-icon'><a target="_blank" class='twitter' href='https://twitter.com/ueokande'><%= partial 'images/twitter.svg' %></a></li>
  <li class='service-icon'><a target="_blank" class='github' href='https://github.com/ueokande'><%= partial 'images/github.svg' %></a></li>
  <li class='service-icon'><a target="_blank" class='qiita' href='https://qiita.com/ueokande'><%= partial 'images/qiita.svg' %></a></li>
</ul>
