<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <%= stylesheet_link_tag :all, :external_service %>
  </head>
  <body>
    <h1 class='title-block'><a id="title" href="#"></a></h1>
    <h2 class='cite-block'>github.com</h2>
    <%= javascript_include_tag :external_service %>
  </body>
</html>
