<div class='qiita'>
  <h1><a class='title-block' id="title" href="#"></a></h1>
  <h2>
    <a class='cite-block' href="http://qiita.com/"><img class='cite-image' src="/images/external_service/qiita.png"></img>qiita.com</a>
  </h2>
</div>
