{{ $name := .Get "src" }}
{{ with index $.Site.Data.github $name }}
  {{ $fullname := index . "full-name" }}
  {{ $avatar_url := index . "avatar_url" }}
  {{ $url := index . "url" }}
  {{ $description := index . "description" }}
  <a href="{{ $url }}" class="external-link-github">
    <img class="external-link-github-avatar" src="{{ $avatar_url }}" />
    <span class="external-link-github-title">{{ $name }}</span>
    <span class="external-link-github-description">{{ $description }}</span>
    <span class="external-link-github-service">github.com</span>
  </a>
{{ else }}
  {{ errorf "GitHub data does not exist: %s" $name }}
{{ end }}
