{{ $name := .Get "src" }}
{{ $tree := .Get "tree" }}

{{ with index $.Site.Data.github $name }}
  {{ $fullname := index . "full-name" }}
  {{ $avatar_url := index . "avatar_url" }}
  {{ $description := index . "description" }}

  <a href="{{ if $tree -}}
             https://github.com/{{ $name }}/tree/{{ $tree }}
           {{- else -}}
             https://github.com/{{ $name }}
           {{- end }}"
    class="external-link-github">
    <img class="external-link-github-avatar" src="{{ $avatar_url }}" />
    <span class="external-link-github-title">{{ $name }}</span>
    <span class="external-link-github-description">{{ $description }}</span>
    <span class="external-link-github-service">github.com</span>
  </a>
{{ else }}
  {{ errorf "GitHub data does not exist: %s" $name }}
{{ end }}
